[flake8]
exclude =
    venv/,
    .venv/,
    env/,
    */migrations/*,
    static/,
    media/,
    node_modules/,
    build/,
    dist/,
    *.egg-info


extend-exclude =
    tests/,
    docs/



ignore =
    E501
    W503

per-file-ignores =
    */settings.py: E402
    */__init__.py: F401

max-line-length = 88
